@{
    ViewData["Title"] = "Acerca de Nosotros";
}

<div class="container">
    <h1 class="display-4 text-center">Acerca de Nosotros</h1>
    <p class="mt-4">
        Nuestra universidad se dedica a ofrecer educación de alta calidad en diversas disciplinas.
        Con un equipo de profesionales altamente capacitados, brindamos a nuestros estudiantes las herramientas necesarias
        para enfrentar los desafíos del futuro.
    </p>
    <p>
        Desde su fundación, hemos trabajado incansablemente para proporcionar un ambiente de aprendizaje inclusivo y estimulante.
        Nuestros programas académicos están diseñados para satisfacer las necesidades del mercado laboral y fomentar el desarrollo
        personal y profesional de nuestros estudiantes.
    </p>
</div>
