@{
    ViewData["Title"] = "Política de Privacidad";
}

<div class="container mt-5">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <p class="text-center">En nuestra universidad, valoramos la privacidad de nuestros estudiantes y visitantes. Esta política detalla cómo recopilamos, usamos y protegemos tu información personal.</p>

    <div class="mt-4">
        <h2>1. Recopilación de Información</h2>
        <p>Podemos recopilar información personal identificable, como tu nombre, dirección de correo electrónico, número de teléfono y otra información relacionada cuando te registras en nuestros cursos, completas formularios o interactúas con nuestro sitio web.</p>
    </div>

    <div class="mt-4">
        <h2>2. Uso de la Información</h2>
        <p>La información que recopilamos puede ser utilizada de las siguientes maneras:</p>
        <ul class="list-group">
            <li class="list-group-item">Para mejorar nuestro sitio web y servicios.</li>
            <li class="list-group-item">Para procesar transacciones y enviar información relevante a los estudiantes.</li>
            <li class="list-group-item">Para enviar correos electrónicos periódicos sobre actualizaciones, eventos y otros temas relacionados con la universidad.</li>
        </ul>
    </div>

    <div class="mt-4">
        <h2>3. Seguridad de la Información</h2>
        <p>Implementamos una variedad de medidas de seguridad para mantener la seguridad de tu información personal. Sin embargo, recuerda que ninguna transmisión de datos por Internet o almacenamiento electrónico es 100% seguro.</p>
    </div>

    <div class="mt-4">
        <h2>4. Cookies</h2>
        <p>Nuestro sitio web puede utilizar "cookies" para mejorar la experiencia del usuario. Puedes optar por desactivar las cookies a través de la configuración de tu navegador.</p>
    </div>

    <div class="mt-4">
        <h2>5. Cambios en la Política de Privacidad</h2>
        <p>Nos reservamos el derecho de actualizar esta política en cualquier momento. Cualquier cambio será publicado en esta página y, si es significativo, se te notificará por correo electrónico.</p>
    </div>

    <div class="mt-4">
        <h2>6. Contacto</h2>
        <p>Si tienes preguntas sobre nuestra política de privacidad, no dudes en contactarnos a través de nuestro formulario de contacto en la página de contacto.</p>
    </div>
</div>
